@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html {
    font-family: Inter, sans-serif !important;
}

.mobile-phone-screen {
    max-width: 30rem;
}

.navbar-box-shadow {
    box-shadow: 0px 1px 20px 0px #0000001A;
}

.general-box-shadow {
    box-shadow: 0px 1px 4px 0px #0000001A;
}

.featured-auction-item-box-shadow {
    box-shadow: 1px 1px 20px 0px #0000001A;
}

.backdrop__circle--bottom {
    right: -10%
}

.backdrop__circle--top {
    top: -14px;
    right: -35%
}

.mobile-max-full {
    max-width: calc(100% - 48px);
}

@media only screen and (max-width: 576px) {
    .bid-column-box-shadow {
        box-shadow: -1px 0px 4px 0px #00000026;
    }

}

@media only screen and (min-width: 576px) {
    .backdrop__circle--bottom {
        right: -2%
    }

    .backdrop__circle--top {
        right: -7%
    }
}

.bg-background {
    background-color: #f4f4f4;
}

.bg-peach-200 {
    background-color: #e95400;
}

.bg-peach-100 {
    background-color: #ffe4cb;
}

.bg-grayscale-100 {
    background-color: #fff;
}

.bg-grayscale-200 {
    background-color: #f0f0f0;
}

.bg-grayscale-300 {
    background-color: #bfbfbf;
}

.bg-grayscale-400 {
    background-color: #7d7d7d;
}

.bg-grayscale-500 {
    background-color: #404040;
}

.bg-grayscale-600 {
    background-color: #272727;
}

.text-grayscale-100 {
    color: #fff;
}

.text-grayscale-200 {
    color: #f0f0f0;
}

.text-grayscale-300 {
    color: #bfbfbf;
}

.text-grayscale-400 {
    color: #7d7d7d;
}

.text-grayscale-500 {
    color: #404040;
}

.text-grayscale-600 {
    color: #272727;
}

.bg-secondary-100 {
    background-color: #fffae9;
}

.bg-secondary-200 {
    background-color: #ffeca7;
}

.bg-secondary-300 {
    background-color: #ffdd66;
}

.bg-secondary-400 {
    background-color: #ffcf24;
}

.bg-secondary-500 {
    background-color: #bb9305;
}

.bg-secondary-600 {
    background-color: #775d00;
}

.text-secondary-100 {
    color: #fffae9;
}

.text-secondary-200 {
    color: #ffeca7;
}

.text-secondary-300 {
    color: #ffdd66;
}

.text-secondary-400 {
    color: #ffcf24;
}

.text-secondary-500 {
    color: #bb9305;
}

.text-secondary-600 {
    color: #775d00;
}

/* .bg-primary-100 {
    background-color: #ffe5e7;
}

.bg-primary-200 {
    background-color: #ffacb3;
}

.bg-primary-300 {
    background-color: #ff737e;
}

.bg-primary-400 {
    background-color: #ff394a;
}

.bg-primary-500 {
    background-color: #e60013;
}

.bg-primary-600 {
    background-color: #b3000f;
}

.bg-primary-700 {
    background-color: #80000b;
}

.bg-primary-800 {
    background-color: #4d0006;
} */

/* .text-primary-100 {
    color: #ffe5e7;
}

.text-primary-200 {
    color: #ffacb3;
}

.text-primary-300 {
    color: #ff737e;
}

.text-primary-400 {
    color: #ff394a;
}

.text-primary-500 {
    color: #e60013;
}

.text-primary-600 {
    color: #b3000f;
}

.text-primary-700 {
    color: #80000b;
}

.text-primary-800 {
    color: #4d0006;
} */

/* .outline-primary-100 {
    outline-color: #ffe5e7;
}

.outline-primary-200 {
    outline-color: #ffacb3;
}

.outline-primary-300 {
    outline-color: #ff737e;
}

.outline-primary-400 {
    outline-color: #ff394a;
}

.outline-primary-500 {
    outline-color: #e60013;
}

.outline-primary-600 {
    outline-color: #b3000f;
}

.outline-primary-700 {
    outline-color: #80000b;
}

.outline-primary-800 {
    outline-color: #4d0006;
} */

.outline-grayscale-100 {
    outline-color: #fff;
}

.outline-grayscale-200 {
    outline-color: #f0f0f0;
}

.outline-grayscale-300 {
    outline-color: #bfbfbf;
}

.outline-grayscale-400 {
    outline-color: #7d7d7d;
}

.outline-grayscale-500 {
    outline-color: #404040;
}

.outline-grayscale-600 {
    outline-color: #272727;
}

.border-grayscale-100 {
    border-color: #fff;
}

.border-grayscale-200 {
    border-color: #f0f0f0;
}

.border-grayscale-300 {
    border-color: #bfbfbf;
}

.border-grayscale-400 {
    border-color: #7d7d7d;
}

.border-grayscale-500 {
    border-color: #404040;
}

.border-grayscale-600 {
    border-color: #272727;
}


/* Revision, Pallet Color */
.bg-primary-100 {
    background-color: #FFF2FC;
}

.bg-primary-200 {
    background-color: #FFD5F6;
}

.bg-primary-300 {
    background-color: #FFB8F1;
}

.bg-primary-400 {
    background-color: #FF9BEB;
}

.bg-primary-500 {
    background-color: #F87BDF;
}

.bg-primary-600 {
    background-color: #C548AC;
}

.bg-primary-700 {
    background-color: #92227C;
}

.bg-primary-800 {
    background-color: #5F0A4E;
}

.text-primary-100 {
    color: #FFF2FC;
}

.text-primary-200 {
    color: #FFD5F6;
}

.text-primary-300 {
    color: #FFB8F1;
}

.text-primary-400 {
    color: #FF9BEB;
}

.text-primary-500 {
    color: #F87BDF;
}

.text-primary-600 {
    color: #C548AC;
}

.text-primary-700 {
    color: #92227C;
}

.text-primary-800 {
    color: #5F0A4E;
}

.outline-primary-100 {
    outline-color: #FFF2FC;
}

.outline-primary-200 {
    outline-color: #FFD5F6;
}

.outline-primary-300 {
    outline-color: #FFB8F1;
}

.outline-primary-400 {
    outline-color: #FF9BEB;
}

.outline-primary-500 {
    outline-color: #F87BDF;
}

.outline-primary-600 {
    outline-color: #C548AC;
}

.outline-primary-700 {
    outline-color: #92227C;
}

.outline-primary-800 {
    outline-color: #5F0A4E;
}

.text-peach-200 {
    color: #e95400;
}

.text-peach-100 {
    color: #ffe4cb;
}


/* Admin section */

/* font color */
body {
    @apply font-body
}

.bg-danger {
    background-color: #E60013
}

.bg-secondary {
    background-color: #F4F4F4;
}

.bg-secondary-100 {
    background-color: #FFFAE9;
}

.bg-success-100 {
    background-color: #DCFFD3;
}

.text-danger {
    color: #E60013
}

.text-primary-700 {
    color: #E95400
}

.text-primary-500 {
    color: #F87BDF
}

/* Button */
.btn {
    @apply font-bold py-2 px-3 rounded-lg text-white
}

.btn-secondary {
    @apply bg-white text-danger
}

.btn-file {
    @apply font-bold py-2 px-6 rounded-lg text-white
}

.btn-submit {
    @apply font-bold px-16 py-3 rounded-lg
}

.btn-danger {
    @apply bg-danger btn
}

.btn-danger-submit {
    @apply bg-danger btn-submit text-white
}

.btn-secondary-submit {
    @apply bg-white btn-submit text-danger
}

.btn-primary-400 {
    @apply bg-primary-400 px-2 py-2 text-white rounded-lg
}

.btn-primary-600 {
    @apply bg-primary-600 px-3 py-2 text-white rounded-lg
}

/* Fill */
.fill-primary {
    fill: #E60013
}

/* textarea */
.textarea {
    @apply block mt-2.5 p-4 w-full text-sm text-gray-900 bg-white rounded-lg border border-neutral-300
}

/* Form Input */
.input-text {
    @apply block w-full border border-neutral-300 leading-tight rounded-lg h-12 p-4 mt-2 text-sm
}

/* max width */
.max-w-80-percent {
    max-width: 80%;
}

.max-w-57 {
    max-width: 14.25rem;
}

.max-w-40 {
    max-width: 40rem;
}

/* accent */
.accent-danger {
    accent-color :#E60013
}

/* Border Color */
.border-primary-500 {
    border-color: #F87BDF;
}

/* Invalid */
.invalid-feedback {
    @apply text-danger text-sm
}
